* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Wrapper */
.nav-wrapper {
  padding: 20px 30px;
  background: #ffffff;
}

/* Navbar */
.navbar {
  height: 82px;
  padding: 0 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #ffffff;
  border-radius: 60px;

  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.08);
}

/* Logo */
.nav-logo img {
  height: 100px;
  width: 100px;
  width: auto;
  cursor: pointer;
}

/* Menu */
.nav-menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 34px;
}

.nav-item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 15px;
  font-weight: 500;
  color: #0b1d33;
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-item svg {
  font-size: 16px;
}

.nav-item:hover {
  color: #2563eb;
}

/* Dropdown */
.dropdown {
  position: absolute;
  top: 52px;
  left: 0;
  background: #ffffff;
  border-radius: 12px;
  min-width: 210px;
  padding: 10px 0;

  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);

  opacity: 0;
  visibility: hidden;
  transform: translateY(12px);
  transition: all 0.25s ease;
  z-index: 99;
}

.dropdown-parent:hover .dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown li {
  padding: 12px 20px;
  font-size: 14px;
  color: #0b1d33;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background 0.25s ease;
}

.dropdown li:hover {
  background: #f1f5ff;
}

.arrow-item svg {
  color: #2563eb;
}

/* CTA Button */
.nav-cta {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 13px 22px;
  border-radius: 40px;
  border: none;
  cursor: pointer;

  background: linear-gradient(135deg, #4f8cff, #2563eb);
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;

  box-shadow: 0 8px 25px rgba(37, 99, 235, 0.35);
  transition: all 0.35s ease;
}

.cta-icon {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  transition: transform 0.45s ease;
}

/* Hover */
.nav-cta:hover {
  transform: translateY(-3px);
  box-shadow: 0 18px 40px rgba(37, 99, 235, 0.45);
}

.nav-cta:hover .cta-icon {
  transform: rotate(60deg);
}
