.company-section {
  width: 100%;
  background: #f5f7ff;
  padding: 90px 20px 140px;
  overflow-x: hidden;
}

/* TOP ROW */

.company-content {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-bottom: 50px;
}

.company-left {
  max-width: 650px;
}

.company-header {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}

.company-subtitle {
  color: #293eff;
  font-weight: 700;
  letter-spacing: 2px;
}

.company-hand-icon {
  width: 60px;
  animation: tap 2s infinite;
  position: absolute;
  right: 100px;
  width: 100px;
}

.company-title {
  font-size: 44px;
  line-height: 1.2;
  margin-bottom: 15px;
}

.company-description {
  color: #6b7280;
  line-height: 1.7;
  text-align: justify;
}

/* BUTTON RIGHT */

.company-right {
  flex-shrink: 0;
}

.company-btn {
  background: #293eff;
  color: white;
  border: none;
  padding: 14px 32px;
  border-radius: 40px;
  font-weight: 700;
  cursor: pointer;
  transition: .3s;
}

.company-btn:hover {
  transform: translateY(-2px);
}

.company-btn .arrow {
  margin-left: 5px;
}

/* IMAGE */

.company-image-wrapper {
  max-width: 1200px;
  margin: auto;
  position: relative;
}


.company-main-image {
  width: 100%;
  height: 480px;
  object-fit: cover;
  border-radius: 30px;
}


/* FLOATING STATS */

.company-stats {
  position: absolute;
  bottom: -34px;
  left: 50%;
  transform: translateX(-50%);
  padding: 30px 70px;
  border-radius: 28px;
  display: flex;
  gap: 70px;
  box-shadow: 0 15px 40px rgba(0,0,0,.1);
  z-index: 5;
}


.stat-item {
  text-align: center;
}

.stat-item h3 {
  font-size: 28px;
}

.stat-item p {
  color: #6b7280;
  font-size: 14px;
}

/* DECOR */

.company-diamond-icon {
  position: absolute;
  bottom: -25px;
  left: 20px;
  width: 40px;
}

/* RESPONSIVE */

@media(max-width: 992px){

.company-content{
  flex-direction: column;
  align-items: flex-start;
}

.company-right{
  width:100%;
}

.company-btn{
  margin-top:15px;
}

.company-title{
  font-size:34px;
}

.company-stats{
  gap:30px;
  padding:20px 30px;
}

}

@media(max-width:768px){

.company-main-image{
  height:360px;
}

.company-stats{
  flex-direction:column;
  bottom:-90px;
}

.company-section{
  padding-bottom:180px;
}

}

@media(max-width:480px){

.company-title{
  font-size:26px;
}

.company-stats{
  width:90%;
}

}

/* ANIMATIONS */

@keyframes tap{
0%,100%{transform:translateY(0)}
50%{transform:translateY(6px)}
}
