.cx-workprocess {
  position: relative;
  width: 100%;
  background: #2f43ff;
  padding: 120px 0;
  overflow: hidden;
}

.cx-container {
  max-width: 1300px;
  margin: auto;
  padding: 0 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

/* LEFT */

.cx-left span,
.cx-left svg {
  color: #fff;
}

.cx-how {
  display: flex;
  align-items: center;
  gap: 12px;
  letter-spacing: 2px;
  font-weight: 600;
}

.cx-left h2 {
  font-size: 56px;
  color: #fff;
  line-height: 1.2;
  margin: 25px 0;
}

.cx-left p {
  max-width: 520px;
  color: #e7e9ff;
  line-height: 1.7;
  font-size: 18px;
  text-align: justify;
}

.cx-left button {
  margin-top: 45px;
  padding: 15px 34px;
  border-radius: 40px;
  border: none;
  background: #fff;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: .3s;
}

.cx-left button:hover {
  background: #000;
  color: #fff;
}

/* RIGHT */

.cx-right {
  display: flex;
  justify-content: center;
}

.cx-circle {
  width: 520px;
  height: 520px;
  border-radius: 50%;
  border: 2px dashed rgba(255,255,255,.4);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cx-circle img {
  width: 90%;
}

/* HAND */

.cx-hand {
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 220px;
  animation: floatHand 3s ease-in-out infinite;
}

@keyframes floatHand {
  0%,100% { transform: translateY(30px); }
  50% { transform: translateY(10px); }
}

/* RESPONSIVE */

@media(max-width: 992px) {

  .cx-container {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 60px;
  }

  .cx-left p {
    margin: auto;
  }

  .cx-left h2 {
    font-size: 38px;
  }

  .cx-circle {
    width: 320px;
    height: 320px;
  }

  .cx-hand {
    width: 140px;
  }
}

@media(max-width:600px){

  .cx-left h2 {
    font-size: 30px;
  }

  .cx-left p {
    font-size: 15px;
  }
}
